@model Movies.Client.Models.UserInfoViewModel

@{
    ViewData["Title"] = "Only Manager";
}

<h1>Only Manager are allowed here!</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Claim Type</th>
            <th>Claim Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UserInfoDict)
        {
            <tr>
                <td>@Html.DisplayFor(x => item.Key)</td>
                <td>@Html.DisplayFor(x => item.Value)</td>
            </tr>
        }
    </tbody>
</table>
